<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="sample">
			<form v-if="!formDone">
				<div class="progress">
					<div class="progress-bar" :style="progressStyles"></div>
				</div>
				<div>
					<app-action v-for="(field, i) in info" 
					:name="field.name" 
					:value="field.value" 
					:valid="field.valid"
					@input="onInput($event,i)">
					</app-action>
				</div>
				<button class="btn btn-primary":disabled="!formValid" type="button" @click="formReady">
					Send Data
				</button>
			</form>
			<div v-else>
				<table class="table table-bordered">
					<tr v-for="item in info">
						<td>{{item.name}}</td>
						<td>{{item.value}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		let AppAction = {
			props: ['name', 'value', 'valid'],
			data() {
				{
					activated: false
				}
			},
			template: `<div class="form-group">
						<label>{{ name }}</label> <span v-if="activated" class="fa" :class="iconClasses"></span>
						<input type="text" class="form-control" 
						:value="value"
						@input="onInput">
					</div>`,
			computed:{
				iconClasses(){
				return{
					'fa-check-circle text-success' : this.valid,
					'fa-exclamation-circle text-danger' : !this.valid
				}
				}
			},
			methods: {
				onInput(e) {
					this.activated = true,
						this.$emit('input', e.target.value);
				}
			}
		};

		let app = Vue.createApp({
			data: () => ({
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				],
				formDone: false
			}),
			computed: {
				fieldsDone() {
					return this.info.reduce(function (fieldsDoneCount, field) {
						return fieldsDoneCount + (field.valid ? 1 : 0)
					}, 0)
				},
				formValid() {
					return (this.fieldsDone === this.info.length)
				},
				progressStyles() {
					return {
						'width': (this.fieldsDone / this.info.length * 100) + '%'
					}
				},
			},
			methods: {
				onInput(value, i) {
					let field = this.info[i];
					field.value = value.trim();
					field.valid = field.pattern.test(field.value);
				},
				formReady() {
					if (this.formValid) {
						this.formDone = true;
					}
				}
			},
			created() {
				return this.info.forEach(field => {
					field.valid = false
				});
			}
		});

		app.component('AppAction', AppAction)
		app.mount('.sample');
	</script>
</body>

</html>